/* ---------------------------------------- */
/* Section Footer  */
/* ---------------------------------------- */
.footer__subtitle {
    color: #000;
}

.footer__logo {
    width: 100%;
}

.footer .nav__link {
    color: #a0a0a0;
}

.footer__link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


/* ---------------------------------------- */
/* RESPONSIVE */
/* ---------------------------------------- */
@media (max-width: 450px) {

    /* Footer */
    .footer .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}