/* Primary */
.button--primary {
    font-size: var(--btn-primary-size);
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
    position: relative;
    overflow: hidden;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button--primary .button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-hover);
    z-index: 0;
}

.button--primary a {
    color: var(--color-link-inverse);
    position: relative;
    z-index: 1;
    text-decoration: none;
}

/* Secondary */
.button--secondary {
    font-size: var(--btn-secondary-size);
    color: var(--color-btn-secondary-text);
    background-color: var(--color-btn-secondary-bg);
}

/* Terciary */
.button--terciary {
    font-size: var(--btn-terciary-size);
    color: var(--color-btn-terciary-text);
    background-color: var(--color-btn-terciary-bg);
    background: transparent;
    padding: 0 76px 14px 0;
    position: relative;
    border: none;
    cursor: pointer;
}

.button--terciary-inverse {
    font-size: var(--btn-terciary-size);
    color: var(--color-btn-terciary-inverse-text);
    background-color: var(--color-btn-terciary-inverse-bg);
    position: relative;
    background: transparent;
    padding: 0 76px 14px 0;
    border: none;
    cursor: pointer;
}

.button-line {
    background-color: var(--color-black);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: left;
    transform: scaleX(1);
}

.button-line-inverse {
    background-color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: left;
    transform: scaleX(1);
}

.button-icon {
    position: relative;
    right: -72px;
}

.button-icon--primary {
    color: black;
}

.button-icon--secondary {
    color: var(--color-white);
}



/* ---------------------------------------- */
/* RESPONSIVE */
/* ---------------------------------------- */
@media (max-width: 780px) {
    .button--terciary-inverse {
        width: 215px !important;
    }

    .button--terciary {
        width: 215px !important;
    }
}