/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__manifiesto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86vh;
}


/* ---------------------------------------- */
/* Section CTA */
/* ---------------------------------------- */
.cta__manifiesto {
    height: 100vh;
    margin: 20px;
    background-color: black;
    position: relative;
}

.cta__manifiesto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/* ---------------------------------------- */
/* Section Citas */
/* ---------------------------------------- */



/* ---------------------------------------- */
/* Section CTA */
/* ---------------------------------------- */
.testimonials__text {
    color: #5C5C5C
}