/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__manifiesto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86vh;
}

.hero__musica-title2 {
    margin-top: -30px;
}


/* ---------------------------------------- */
/* Section CTA */
/* ---------------------------------------- */
.cta__manifiesto {
    height: 100vh;
    margin: 20px;
    background-color: black;
    position: relative;
}

.cta__manifiesto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/* ---------------------------------------- */
/* Section Text */
/* ---------------------------------------- */
.manifiesto-text__icon {
    font-size: 7rem;
}

.manifiesto-text__text {
    color: #888A8B;
}

.manifiesto-text__title {
    width: 100%;
    overflow: hidden;
}

.manifiesto-text__title span {
    margin-right: 20px;
    display: inline-block;
}


/* ---------------------------------------- */
/* Section CTA-Mesh_Section  */
/* ---------------------------------------- */
.manifiesto__cta-mesh {
    height: 100vh;
    background-color: #000;
    margin: 20px;
    padding: 30px 20px;
}

.manifiesto__cta-mesh .grid {
    height: 100%;
}

.cta-mesh__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.cta-mesh__title {
    color: var(--color-headings-inverse);
}

.cta-mesh__subtitle {
    color: var(--color-headings-inverse);
}

.cta-mesh__text {
    color: var(--color-text-alt-inverse);
    width: 70%;
}


/* ==============================
    RESPONSIVE
============================== */
@media (max-width: 768px) {

    /* ---------------------------------------- */
    /* Section Hero */
    /* ---------------------------------------- */
    .hero__manifiesto {
        height: 90vh;
    }

    .hero__manifiesto h4 {
        display: none;
    }

    /* ---------------------------------------- */
    /* Section CTA */
    /* ---------------------------------------- */
    .cta__manifiesto {
        height: 50vh;
    }
}