/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__musica {
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.musica__img-content img {
    width: 100%;
}

.hero__musica p {
    width: 95%;
}

/* ---------------------------------------- */
/* Section Catalogo */
/* ---------------------------------------- */
.catalogo__content p {
    padding: 20px 0 0 0;
}

/* ---------------------------------------- */
/* Section Slider */
/* ---------------------------------------- */
/* .slider {
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    margin-right: 0 !important;
} */

.testimonio__content {
    width: 90%;
}

.testimonio__texto {
    color: #a0a0a0;
}


/* ---------------------------------------- */
/* Section CTA */
/* ---------------------------------------- */
.cta__product {
    height: 100vh;
    padding: 20px;
}

.cta__product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    /* <-- centra horizontalmente y alinea abajo */
    background-color: black;
}