/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__musica {
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.musica__img-content img {
    width: 100%;
}

.hero__musica p {
    width: 95%;
}

/* ---------------------------------------- */
/* Section Catalogo */
/* ---------------------------------------- */
.catalogo__content p {
    padding: 20px 0 0 0;
}