/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__terrarios {
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.terrarios-capas .grid {
    gap: 15px;
}

.terrarios-capas__content {
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 10px;
}


/* ---------------------------------------- */
/* Section Capas */
/* ---------------------------------------- */
.terrarios-capas__content {
    position: relative;
    overflow: hidden;
    color: #fff;
    min-height: 350px;
}

.terrarios-capas__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* TEXT CONTENT */
.content-1,
.content-2,
.content-3 {
    z-index: 10;
}

.content-1,
.content-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.content-1__link,
.content-3__link,
.content-1__subtitle,
.content-3__subtitle,
.content-2__title {
    color: #fff;
}

.content-1__btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 12px;
    background-color: transparent;
    font-size: .8rem;
    cursor: pointer;
}

.content-1__btn a {
    color: inherit;
    text-decoration: none;
}

.content-3__btn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.terrarios-capas__text h3 {
    width: 95%;
    color: #000;
}

/* Responsive */
@media (max-width: 768px) {
    .terrarios-capas__content {
        min-height: 250px;
    }

    .content-1,
    .content-3 {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}



/* ---------------------------------------- */
/* Section terrariosCuidados */
/* ---------------------------------------- */
.terrariosCuidados__img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

.terrariosCuidados__text {
    color: #a0a0a0;
    width: 95%;
}

.terrariosCuidados__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.terrariosCuidados__content h3 {
    margin-top: 10px;
}



/* ---------------------------------------- */
/* Section FAQ */
/* ---------------------------------------- */
.faq-intro__title {
    width: 100%;
}

.faq-intro__subtitle {
    font-size: var(--p-size);
    margin-right: 200px;
    position: relative;
    top: -15px;
    width: 100% !important;
}

.faq-intro__number {
    position: relative;
    bottom: -30px;
}

.faq-intro__img {
    height: 240px;
    width: 200px;
    object-fit: cover;
}


/* ---------------------------------------- */
/* RESPONSIVE */
/* ---------------------------------------- */
@media (max-width: 450px) {

    /* ---------------------------------------- */
    /* Section_Capas */
    /* ---------------------------------------- */
    .content-1,
    .content-3 {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    /* ---------------------------------------- */
    /* Section_FAQ */
    /* ---------------------------------------- */
    .faq-intro__subtitle {        
        margin-right: 20px;        
        top: -8px;        
    }
}