/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__terrarios {
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.terrarios-capas .grid {
    gap: 15px;
}

.terrarios-capas__content {
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 10px;
}

/* ---------------------------------------- */
/* Section Capas */
/* ---------------------------------------- */

.content-plants {
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGpjdGJyc2FhZ3pzbTFhenY2OWJibzI2b25oaHRqZTVrYTdnYTdlcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/txCo7WXCwZpmM/giphy.gif');
}

.content-sustrato {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDd1eWJhN2E4OW9hdnRtMHd6ZjdxNmtudXI0ejR2YTI5d3dkaHoyZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l9md6q8WS4pwJrO4qc/giphy.gif');
}

.content-metal {
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmhzbmx1eHZ5NXpra2JodnF6NjlqMDlhdGFqMnQ0OHJydHdhNGk0dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OhBO5rAr1G0VhxM8X4/giphy.gif');
}

.content-piedras {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHFjbHRrcjNzNHA5dThsZHU1b2dmZXhvbzYzYnBtbndxMGxkd21kMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/55jWt7O2wPB5e/giphy.gif');
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.content-1__link {
    color: #fff;
}

.content-1__subtitle {
    color: #fff;
    margin-right: -60px;
}

.content-1__btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 12px 6px 12px;
    background-color: transparent;
    font-size: .8rem;
    cursor: pointer;
}

.content-2__title {
    color: #fff;
    font-size: 5rem;
}

.content-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.content-3__link {
    color: #fff;
}

.content-3__subtitle {
    color: #fff;
}

.content-3__btn {
    color: #fff;
}

.content-3__btn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
}

.small-gsap {
    width: 100px;
}

/* ---------------------------------------- */
/* Seccion Cuidados  */
/* ---------------------------------------- */
.cuidados__img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
    transition: opacity 0.4s ease;
}

.cuidados__text {
    color: #a0a0a0;
}

.cuidados__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cuidados__content h2 {
    position: relative;
    display: inline-block;
    /* 👈 clave para que el underline se ajuste al texto */
    cursor: pointer;
    transition: color 0.3s ease;
    color: #a0a0a0;
    margin-top: 22px;
    font-weight: 400;
}

/* Línea personalizada */
.cuidados__content h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    /* separación del texto */
    width: 100%;
    /* ahora será el ancho del texto */
    height: 3px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

/* Hover */
.cuidados__content h2:hover {
    color: #000;
}

.cuidados__content h2:hover::after {
    transform: scaleX(1);
}

/* Activo */
.cuidados__content h2.active {
    color: #000;
}

.cuidados__content h2.active::after {
    transform: scaleX(1);
}


/* ---------------------------------------- */
/* Section XXX */
/* ---------------------------------------- */

.cuidados__content img {
    width: 100%;
}


.terrariosCuidados__img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

.terrariosCuidados__text {
    color: #a0a0a0;
    width: 95%;
}

.terrariosCuidados__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.terrariosCuidados__content h3 {
    margin-top: 10px;
}
