.hero__title {
    color: var(--color-black);
    margin-left: -20px;
    text-align: center;
    white-space: nowrap;    
    position: relative;
}

.hero__title .char {
    display: inline-block;
    /* Cada carácter mantiene su propio ancho */
    will-change: transform;
}

/* .split-line {
    overflow: hidden;
}

.split-parent {
    overflow: hidden;
} */

.split-parent {
    overflow: hidden;
      line-height: 1.1; /* importante */
}

.split-line {
    display: block;
    overflow: hidden;
    line-height: 1.1; /* o el valor real de tu h2 */
}

.split-word,
.split-char {
    display: inline-block;
}