/* ---------------------------------------- */
/* Home > About Us section */
/* ---------------------------------------- */
.title-animation {
    overflow: hidden;
    line-height: 1.1;
}

.title-animation .word {
    display: inline-block;
    transform-origin: 50% 100%;
    will-change: transform, opacity;
    white-space: pre;
}