/* ---------------------------------------- */
/* Home > Section stepFlow  */
/* ---------------------------------------- */
/* Step-Flow__Desktop */
.step-flow .grid {
    position: sticky;
    top: 0;
    height: 100vh;
}

.step-flow__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0 70px 0;
    height: 100%;
}

.step-flow__title {
    color: var(--color-headings-inverse);
}

.step-flow__steps {
    position: relative;
    height: 150px;
}

.step-flow__step {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.step-flow__step.active {
    opacity: 1;
    transform: translateY(0);
}

.step-flow__subtitle {
    color: var(--color-headings-inverse);
}

.step-flow__text {
    color: var(--color-text-alt-inverse);
}

.step-flow__images {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.step-flow__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 125px;
    object-fit: cover;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.step-flow__image.active {
    opacity: 1;
    transform: scale(1);
}


/* Step-Flow__Mobile */
.step-flow__mobile {
    display: none;
    background-color: var(--color-bg);
}

.step-flow__mobile .grid {
    display: flex;
    flex-direction: column;    
}

.step-flow__mobile-steps {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.step-flow__mobile-image {
    width: 325px;
    height: 280px;
    object-fit: cover;
}

.step-flow__mobile-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.step-flow__mobile-step .step-flow__subtitle {
    color: var(--color-headings-inverse);    
}

.step-flow__mobile-step .step-flow__text {
    color: var(--color-text-alt);
    line-height: 1.5;
}

.step-flow__mobile-step .step-flow__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
    padding: 0 100px 0 120px;
    /* igual que desktop */
}

/* ==============================
    RESPONSIVE
============================== */
@media (max-width: 768px) {
    /* Step-Flow__Desktop */
    .step-flow--desktop {
        display: none;
    }

    .step-flow__content {
        padding: 40px 0 70px 0;
        gap: 30px;
    }

    /* Step-Flow__Mobile */
    .step-flow__mobile {
        display: block;    
        background-color: #000;
    }

    .step-flow__mobile .grid {
        padding: 20px 10px;
    }

    .step-flow__mobile-step .step-flow__image {
        padding: 0 20px;
    }

    .step-flow__image {
        padding: 0px 10px 0px 10px;
    }

    .step-flow__subtitle {
        margin-top: 20px;
    }

    .step-flow__title {
        margin-bottom: 20px;
    }
}