/* ---------------------------------------- */
/* Manifiesto > Section Citas */
/* ---------------------------------------- */
.manifiesto__citas {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.manifiesto__track {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    /* mejora performance */
}

.manifiesto__slide {
    flex: 0 0 auto;
    margin-right: 20px;
    height: 550px;
    width: 520px;
    border: 1px solid #d4d4d4;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manifiesto__slide-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.manifiesto__slide p {
    width: 100%;
}

/* ==============================
    RESPONSIVE
============================== */
@media (max-width: 768px) {
    .manifiesto__slide {
        height: 450px;
        width: 320px;
    }
}