/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.hero__subTerrarios {
    height: 90vh;
}

/* .hero__subTerrarios .grid {
    margin-left: 0;
} */

.hero__subTerrarios-content-1 {
    width: 100%;
    height: 100vh;
    /* margin-top: -84px; */
}

.hero__subTerrarios-content-1 img {
    object-fit: cover;
    height: 90%;
    width: 100%;
}

.hero__subTerrarios-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .hero__subTerrarios-content-2 .grid {
    margin: 0 0;
} */

.subTerrarios-content-2-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin-top: -100px !important;
}

.subTerrarios-content-2-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subTerrarios-content-2-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subTerrarios__subtitle {
    color: #888A8B;
}

.subTerrarios__title {
    margin-bottom: 10px;
}

/* ---------------------------------------- */
/* Section Destacado */
/* ---------------------------------------- */
.subTerrarios__destacado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destacado-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.destacado-content-1 img {
    height: 600px;
}

.destacado-content-2 img {
    height: 400px;
}

.destacado-content-3 img {
    height: 500px;
}

.destacado-text {
    color: #888A8B;
}

/* ---------------------------------------- */
/* Section Hero */
/* ---------------------------------------- */
.info-content-1 {
    margin-left: 0;
    margin-right: 0;
}

.info-content-1 p {
    padding: 20px 0 0 0;
    line-height: 1;
}